# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Editor settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Data outputs
*.csv
!data/*.csv
